{% extends "base.html" %}
{% block body %}
<div class="row clearfix" style="text-align: center">
          <div class="col-md-4 column puntaje">
          {{ puntaje|floatformat }}
          </div>

          {% if aprobado %}
          <div class="col-md-8 column correcta">
              ¡Aprobad@!
              Al próximo nivel...
          </div>
          {% else %}
          <div class="col-md-8 column incorrecta">
              ¡Desaprobad@!
              A seguirse informando...
          </div>
          {% endif %} 
</div>
<div class="row clearfix texto" style="text-align: center">
          Le erraste en estas:
          <div style="font-size: 18px">
          (hacé click para saber más)<div>
          {% for pregunta in incorrectas %}
          <div class="col-md-12 column pregunta">
          <a href="{{ pregunta.tip }}" target="_blank">{{ pregunta.pregunta }}</a>
          </div>
          {% endfor %}              
</div>
{% endblock %}
